#navigation img{
  width:10%;
  
  
}

#body{
  background-image: url('images/center.jpg');
  background-size: cover;
    
}


#navigation li a{
  font-size:2rem;
  color:white;
  
  margin-right:2rem;
  
  
}

#navigation li a:hover{
  background-color:rgba(0,0,0,0.3);
  
}



#location{
   background-color:rgba(0,0,0,0.3);
  color:white;
  font-family: 'Baloo Tammudu', cursive;
  
}